*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}


.cadre{
    background-color: #2AB3B1;
    width: 636px;
    height: 475px;
    box-shadow: 5px 5px 5px 5px rgba(200, 200, 200, 0.2);
    border-radius: 2% 2% 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.un{
    background-color: white;
    width: 636px;
    height: 216px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.deux{
    background-color:  #19a19f;
    width: 318px;
    height: 259px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trois{
    background-color: #2ab3b1cb;
    width: 318px;
    height: 259px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub{
    width: 596px;
    height : 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h1{
    font-size: 32px;
    color: #2AB3B1;
}

h2{
    font-size: 20px;
    color: #C0DF33;
}

.pub p{
    line-height: 30px;
    width: 555px;
    font-size: 17px;
    color: #9AA7BE;
}

.tarif{
    width: 238px;
    height: 179px;
    color: white;
    background-color:  #19a19f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3{
    color: white;
    letter-spacing: 2px;
}

.prix{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tarif p{

}

.tarif div{
    font-size: 34px;
    font-weight: bold;
}

.tarif div span{
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal ;
    color: rgba(255, 255, 255, 0.5)
}

a .bouton{
    width: 237px;
    height: 48px;
    background-color: #C0DF33;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    text-align: center;
    line-height: 2.5;
    color: white;
    text-decoration: underline #C0DF33;
    font-size: 18px;
}

.tarif a{
    display: block;
    width: 237px;
    height: 48px;
}

.why{
    width: 238px;
    height: 179px;
    background-color: #2ab3b1cb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why p{
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}

.cadre .trois{
    background-color: #2ab3b1cb;
}